*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.reloj{
    width: 500px;
    height: 500px;
    background-color: grey;
    border-radius: 500px;
    margin: 0 auto;
    margin-top: 6%;
    padding-top: 5px;
    border: 7px double white;
    background-image: url(../img/fondota.gif);
    background-size:100% ; 
    background-position: center;
}

h2{
    color: white;
    font-family: cursive;
    font-size: 27px;
}
.hora12{
    margin-left: 48%
}
.hora12 h2{
    color: black;
    font-size: 35px;
    
}
.hora1{
    margin-left: 75%;
   margin-top: -2px
}
.hora2{
    margin-left: 89%;
    margin-top: 50px
}
.hora3{
    margin-left: 94%;
    margin-top: 50px
}

.hora3 h2{
    color: black;
    font-size: 35px;
}
.hora4{
    position: absolute;
    right: 470px;
    top: 400px;
}
.hora5{
     position: absolute;
    right: 550px;
    top: 489px;
}

.hora6{
     position: absolute;
    right: 670px;
    top: 530px;
}

.hora6 h2{
    color: black;
    font-size: 35px;
}
.hora7{
    position: absolute;
    left: 550px;
    bottom: 130px;
}

.hora8{
    position: absolute;
    left: 478px;
    bottom: 200px;
}
.hora9{
    position: absolute;
    left: 450px;
    bottom: 300px;
}

.hora9 h2{
     color: black;
    font-size: 35px;
}

.hora10{
    position: absolute;
    top: 230px;
    left: 465px;
}

.hora11{
    position: absolute;
    top: 138px;
    left: 535px;
}
.segundos{
    width: 220px;
    height: 7px;
    transform: rotate(90deg);
    background-color: rgba(255, 255, 90, 0.9);
    border-radius: 325px;
    border-color: rgba(0,0,0,.5);
    border-style: solid;
    border-width: 4px;
    position: absolute;
    top: 320px;
    left: 690px;
    animation-name: tiempo;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
    border-radius: 50%;
}

.minutos{
    width: 170px;
    height: 7px;
    transform: rotate(90deg);
    background-color: rgba(0,0,0,.8);
    border-radius: 325px;
    border-radius: 50%;
    border-color: rgba(29, 238, 119, 0.5);
    border-style: solid;
    border-width: 4px;
    position: absolute;
    top: 320px;
    left: 691px;
    animation-name: tiempo;
    animation-duration: 3600s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;    
}

.horas{
    width: 100px;
    height: 7px;
    transform: rotate(90deg);
    background-color: rgba(0,0,0,.8);
    border-radius: 325px;
    border-color: rgba(255, 0, 0, 0.4);
    border-style: solid;
    border-width: 4px;
    position: absolute;
     border-radius: 50%;
    top: 320px;
    left: 691px;
    animation-name: tiempo;
    animation-duration:43200s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;    
}


@keyframes tiempo{
    from{
       transform: rotate(-90deg);
        transform-origin: left;
    }
    to{
        transform: rotate(270deg);
        transform-origin: left;
    }
}